.background{
  color: black;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.titleWrapper {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.partTwo__Title {
  font-size: 20px;
  font-weight: 500;
}

.closeButton {
  position: relative;
  float: right;
  right: 3px;
  top: 3px;
}

.progressContainer {
  background-color: lightgray;
  height: 3px;
  padding: 0;
}

.progressFiller {
  background-color: rgb(125, 179, 67);
  height: 3px;
  width: 66%;
}


.questionTitle {
  font-size: 19px;
  padding-left: 15px;
  font-weight: 400;
  margin-top: 2px;
}

.optionWrapper {
  /* border: 1px solid pink; */
  height: 140px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
}


.labelRadio {
  display: inline;
  margin-top: 10px;
  zoom: 140%;
  /* border-color: rgb(125, 179, 67);
  background-color: rgb(125, 179, 67); */
}

.inPersonOp {
  /* border: 1px solid green; */
  background-color: rgb(241, 247, 250);
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.labelTitle {
  font-size: 15px;
  display: inline;
}

.labelDescription {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 2px;
}

.icon {
  margin-top: 3px;
  margin-left: 5px;
}

.onlineOp {
  /* border: 1px solid yellow; */
  background-color: rgb(241, 247, 250);
  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.suburbSelect {
  margin-left: 15px;
}

.suburbInput {
  height: 30px;
  border: 2px solid lightgray;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
  overflow: hidden;
}

.suburbInput:hover {
  border: 2px solid rgb(82, 174, 219);
}

.selectDateWrapper {
  margin-left: 15px;
  margin-top: 0;
}

.selectDate {
  height: 30px;
  width: 300px;
  border: 2px solid lightgray;
  border-radius: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
  overflow: hidden;
}

.partOneButton {
  text-align: center;
}

.buttonWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.backButton {
  margin-left: 15px;
  background-color: rgb(229, 231, 226);
  color: rgb(0, 143, 180);
  border: 3px solid rgb(218, 225, 231);
  border-radius: 30px;
  width: 220px;
  height: 50px;
}

.nextButton {
  margin-left: 15px;
  background-color: rgb(125, 179, 67);
  color: white;
  border: 0 solid rgb(125, 179, 67);
  border-radius: 30px;
  width: 220px;
  height: 50px;
}