.Toolbar {
  border-bottom: 200px;
  font-weight: 600;
  color: #535a77;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  z-index: 100;
}

nav {
  display: flex;
}

@media (max-width: 768px) {
  .DesktopOnly {
    display: none;
  }
}
