@import './variables.scss';

.skills{
    height: 15vh;
    position: relative;
}

.skills .updatebutton{
    position:absolute;
    right:-3vw;
    top:3vh; 
}

.skills_update{
    height: 20vh;
    //background-color: red;
}