.post-button {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: museo-bold, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: rgb(224, 68, 109);
  border-radius: 160px;
  margin: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 8px 16px;
}
