.background {
  color: black;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border: 1px solid white;
  width: 500px;
  height: 500px;
  box-shadow: aliceblue;
}

.titleWrapper {
  text-align: center;
  padding: 15px 25px;
}

.partOne__Title {
  font-size: 20px;
  font-weight: 500;
}

.closeButton {
  position: relative;
  float: right;
  right: 3px;
  top: 3px;
  border: none;
  background-color: white;
  color: lightgray;
  font-size: 20px;
}

.lastprogressContainer {
  background-color: rgb(125, 179, 67);
  height: 3px;
  padding: 0;
}

.progressFiller {
  background-color: rgb(125, 179, 67);
  height: 3px;
  width: 33%;
}

.questionTitle {
  font-size: 19px;
  font-weight: 400;
}

.howquestionTitle {
  font-size: 19px;
  font-weight: 700;
  color: white;
}

.questionTips {
  font-size: 12px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.howquestionTips {
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.howanswerOne__wrapper {
  padding-top: 30px;
  padding-bottom: 35px;
}

.taskTitleInput {
  height: 30px;
  width: 100%;
}

.taskTitle {
  padding: 20px;
}

.answerTwo__wrapper {
}

.taskDetailInput {
  height: 140px;
  width: 100%;
}

.taskDetail {
  padding: 20px;
  padding-top: 5px;
}

.howtaskDetail {
  display: inline-block;
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgb(0 143 180);
  width: 100%;
}

.partOneButton {
  text-align: center;
}

.buttonWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.backButton {
  margin-left: 15px;
  background-color: rgb(229, 231, 226);
  color: rgb(0, 143, 180);
  border: 3px solid rgb(218, 225, 231);
  border-radius: 30px;
  width: 220px;
  height: 50px;
  font-weight: 900;
}

.nextButton {
  background-color: rgb(125, 179, 67);
  color: white;
  border: 0 solid rgb(125, 179, 67);
  border-radius: 30px;
  width: 300px;
  height: 50px;
  font-weight: 900;
}

.howNextButton {
  margin-left: 15px;
  background-color: rgb(125, 179, 67);
  color: white;
  border: 0 solid rgb(125, 179, 67);
  border-radius: 30px;
  width: 220px;
  height: 50px;
  font-weight: 900;
}

.priceTag {
  color: white;
  font-weight: 500;
  float: right;
  font-size: 25px;
}
