.taskList-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .taskList-title {
    margin: 10px 0;
  }

  .taskItem-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .taskItem-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 20px;
      width: 120px;
      height: 120px;
      background-color: #999;
      &:hover {
        background-color: #008fb4;
      }

      i {
        color: #fff;
      }
    }
    .taskItem-title {
      span {
        font-size: 16px;
      }
    }
  }
}
